<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css">
<!-- Bootstrap Font Icon CSS -->
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">

<div class="container">

<div class="row">

  <div class="col-2" style="margin:auto; text-align: left;">      
    <input type="range" min="0" max="1" [(ngModel)]="audio.volume" step="0.1" id="mislider"> <span id="valor"></span>      
  </div>

<div class="col" style="text-align: center;">
    <br>
    <i class="bbi bi-skip-start-circle" (click)="previousSound()" style="font-size: 70px; color:rgb(0, 0, 139)"></i>
    <i class="bi bi-play-circle" (click)="playSound()" *ngIf="!playing"
      style="font-size: 70px; color:rgb(0, 0, 139)"></i>
    <i class="bi bi-pause-circle" (click)="pauseSound()" *ngIf="playing"
      style="font-size: 70px; color:rgb(0, 0, 139)"></i>
    <i class="bi bi-stop-circle" (click)="stopSound()" style="font-size: 70px; color:rgb(0, 0, 139)"></i>
    <i class="bi bi-skip-end-circle" (click)="nextSound()" style="font-size: 70px; color:rgb(0, 0, 139)"></i>   
</div>
  <div class="col-2"></div>
</div>

<div class="row">
  <div class = "col-10" style="text-align: left">
  {{ secondsToString(audio.duration - audio.currentTime) }}            
  </div>  
  <div class = "col-2" style="text-align: right;">
  {{ secondsToString(audio.duration) }} 
  </div>
</div>
<div class="row">
  
      <progress [value]="audio.currentTime" [max]="audio.duration"></progress>        
  
</div>
</div>