<!--<div class="container" style="background-color: #1f0255fd;">
  <div class="row" >
    <h1 class="text-center" style="color:rgb(30, 231, 3) ;"><font face="Comic Sans MS,Arial,Verdana">{{title}}</font></h1>
  </div>
    <app-song></app-song>
</div>
-->

<!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
  <div class="py-4 px-3 mb-4 bg-light">
    <div class="media d-flex align-items-center"><img src="../assets/img/logo.PNG" alt="..." width="65"
        class="mr-3 rounded-circle img-thumbnail shadow-sm">
      <div class="media-body">
        <h4 class="m-0">MusicLab</h4>
        <p class="font-weight-light text-muted mb-0">Experiment music</p>
      </div>
    </div>
  </div>

  <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Lista de reproducción</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic bg-light">
        <i class="fa fa-th-large mr-3 text-primary fa-fw"></i>
        Lorem
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-address-card mr-3 text-primary fa-fw"></i>
        IPSUM
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-cubes mr-3 text-primary fa-fw"></i>
        DOLOR
      </a>
    </li>
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
        ASET
      </a>
    </li>
  </ul>

  <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Reserva</p>

  <ul class="nav flex-column bg-white mb-0">
    <li class="nav-item">
      <a href="#" class="nav-link text-dark font-italic">
        <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
        Reserva
      </a>
    </li>

  </ul>
</div>
<!-- End vertical navbar -->


<!-- Page content holder -->
<div class="page-content p-5" id="content">


   <div class="text-center"><img src="../assets/img/MusicLab.jpg" class="rounded"></div>




  <!-- <app-song></app-song>-->
  <app-lista-canciones id="songList" (songEvent)="receiveSong($event)"></app-lista-canciones>
  <app-music-control id="controls" [song]="song"></app-music-control>

</div>
